body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #CC0000; */
    width: 95vw;
}
.pokeList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    width: 800px;
    border: 1pt solid black;
    border-radius: 12pt;
    background-color: rgb(250, 250, 250);

}

.headerDiv{
    background-color: #CC0000 ;
    width: 100vw;
    text-align: center;
}

.btn{
    background-image: url("./img/FireIC_SV.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 110px;
    height: 25px;
    box-sizing: none;
    outline: none;
    border: none;
    border-radius: 10pt;
}
